body {
    background: url("geevhands.jpg") no-repeat center fixed;
    background-size: cover;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Comforta", serif;
}

@font-face {
    font-family: 'Chunk Five';
    src: url('fonts/Chunk Five Print.otf');
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Comforta", serif;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-area li a:hover {
    background: #fff;
    color: #333;
}

.header {
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 255px);
    z-index: 2;
}

.header div {
    float: left;
    color: #fff;
    font-family: 'Chunk Five', sans-serif;
    font-size: 2em;
}

.header div span {
    color: #b74b3f;
}

.login {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}

.login input[type=text] {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

.login input[type=password] {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.login input[type=button] {
    width: 260px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 20px;
    color: #a18d6c;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}

.login input[type=button]:hover {
    opacity: 0.8;
}

.login input[type=button]:active {
    opacity: 0.6;
}

.login input[type=text]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

.login input[type=password]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

.login input[type=button]:focus {
    outline: none;
}